/*
0 - 600px       phone
600 - 900px     tablet portrait
900 - 1200px    tablet landscape
(1200 - 1800px) where the normal styles applies
1800px +        big desktop




// @mixin respond-phone {
//     @media (max-width: 600px) {
//         @content;
//     }
// }


ORDER: Base > typography > general layout > grid > page layout > components

$breakpoint choices 
- phone 
- tab-port
- tab-land 
- big-desk
*/
/*
COLORS:

Light : #3872F6
Medium : #8d4fff
Dark : #A502F0
*/
/* --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0; */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 100%; } }

body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.7rem;
  color: #555;
  padding: 3rem;
  /* padding-top: 10px; */
  box-sizing: border-box;
  text-decoration: none;
  /* background-image: linear-gradient(to right bottom, rgba(149, 93, 233, 0.20) 10.8%, rgba(98, 88, 238, 0.20) 94.3%); */ }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.heading-primary {
  /* border: 1px solid red; */
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    /* font-size: 60px; */
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* letter-spacing: 35px; */
    animation: moveInLeft 1s ease-out;
    text-indent: 0.6rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    opacity: 0;
    display: block;
    /* line-height: 6rem; */
    margin-top: 4rem;
    font-size: 2.24rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: fadeIn 1s ease-in 500ms;
    animation-fill-mode: forwards; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 2.1rem; } }

.heading-secondary {
  display: inline-block;
  padding: 0.3rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #3872f6 16%, #a502f0 65%);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 200ms; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2rem; } }
  .heading-secondary:hover {
    transform: scale(102%);
    text-shadow: 0 1rem 1rem #8d4fff;
    font-weight: 900; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(165, 2, 240, 0.8); }

.paragraph {
  font-size: 1.6rem;
  line-height: 2rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translatey(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  70% {
    transform: translateY(0.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-4rem); }
  80% {
    transform: translatex(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-text-decoration-none {
  text-decoration: none !important;
  color: inherit !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.7rem 3.5rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 200ms;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.5rem);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.7); */
  box-shadow: 0 1.3rem 2rem rgba(165, 2, 240, 0.5); }
  .btn:hover::after {
    transform: scaleX(1.5) scaley(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1 0.6rem);
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.7); */
  box-shadow: 0 0.4rem 0.7rem rgba(165, 2, 240, 0.7); }

.btn--white {
  background-color: white;
  color: #a502f0;
  margin-top: 5.6rem;
  font-weight: 700;
  /* animation:moveUp 1.5s ease-out ;  */
  /* animation:moveUp 1s ease-out 500ms;  */
  /* animation-fill-mode: forwards; */
  /* opacity: 0;  */
  animation: moveInBottom 1.3s ease-out;
  font-size: 1.4rem; }
  .btn--white::after {
    background-color: white; }

.btn--perpule {
  background-color: rgba(141, 79, 255, 0.9);
  color: #fff;
  margin-top: 5.6rem;
  font-weight: 700;
  /* animation:moveUp 1.5s ease-out ;  */
  /* animation:moveUp 1s ease-out 500ms;  */
  /* animation-fill-mode: forwards; */
  /* opacity: 0;  */
  animation: moveInBottom 1.3s ease-out;
  font-size: 1.4rem; }
  .btn--perpule::after {
    background-color: rgba(141, 79, 255, 0.8); }

.btn--primary-light {
  background-color: rgba(56, 114, 246, 0.4);
  color: #fff;
  margin-top: 5.6rem;
  font-weight: 700;
  /* animation:moveUp 1.5s ease-out ;  */
  /* animation:moveUp 1s ease-out 500ms;  */
  /* animation-fill-mode: forwards; */
  /* opacity: 0;  */
  animation: moveInBottom 1.3s ease-out;
  font-size: 1.4rem; }
  .btn--primary-light::after {
    background-color: rgba(56, 114, 246, 0.5); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 400ms; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #8d4fff;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #8d4fff;
  padding: 3px;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #8d4fff;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 1rem 1.5rem rgba(165, 2, 240, 0.5); }

.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(165, 2, 240, 0.5); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50rem;
    width: 100%;
    transition: all 800ms ease;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(165, 2, 240, 0.3); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #08da4e 50%, #0d943a); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #d63384 50%, #dc3545); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff 50%, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg) translateY(-3rem);
    box-shadow: 0 0.5rem 1rem rgba(165, 2, 240, 0.6); }
  .card__picture {
    background-size: cover;
    height: 45%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #08da4e, #0d943a), url(../img/card-image-1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #d63384, #dc3545), url(../img/card-image-2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/card-image-3.jpg); }
  .card__heading {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 9rem;
    left: 2rem; }
  .card__heading-span {
    padding: .5rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(8, 218, 78, 0.8), rgba(13, 148, 58, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(214, 51, 132, 0.8), rgba(220, 53, 69, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      padding: 1.3rem;
      font-size: 1.6rem;
      text-align: center; }
      .card__details li:not(:last-child) {
        border-bottom: 0.2rem solid rgba(141, 79, 255, 0.2); }
  .card__cta {
    width: 90%;
    text-align: center;
    margin: 0 auto; }
    .card__cta__text {
      padding: 6rem;
      padding-top: 8rem;
      color: #fff;
      text-align: center; }
    .card__cta__price-only {
      font-size: 2rem;
      text-transform: uppercase;
      padding: 3rem; }
    .card__cta__price-value {
      padding-bottom: 4rem;
      font-size: 6rem;
      font-weight: 300; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(56, 114, 246, 0.5);
    border-radius: 0.5rem;
    transition: all 200ms;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 1rem;
      left: 23rem; }
      @media (max-width: 37.5em) {
        .composition__photo--p2 {
          left: 15rem; } }
    .composition__photo--p3 {
      top: 12rem;
      left: 7rem; }
      @media (max-width: 37.5em) {
        .composition__photo--p3 {
          left: 3rem; } }
    .composition__photo--p4 {
      top: 15rem;
      left: 33rem; }
      @media (max-width: 37.5em) {
        .composition__photo--p4 {
          left: 20rem; } }
    .composition__photo:hover {
      outline: 1.2rem solid rgba(141, 79, 255, 0.8);
      transform: scale(105%) rotate(0deg) translateY(-0.5rem);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(90%); }

.feature--box {
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3rem 3rem 3rem 0;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(141, 79, 255, 0.6);
  transition: all 200ms; }
  .feature--box--icon {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #3872F6 30%, #A502F0 65%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 5rem; }
  .feature--box:hover {
    transform: translateY(-2rem) scale(110%); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0rem 3rem 6rem rgba(141, 79, 255, 0.2);
  border-radius: 70px 5px;
  padding: 6rem;
  padding-left: 7.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 2.3rem;
  font-size: 1.6rem;
  transform: skewX(-14deg);
  backface-visibility: hidden; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circule(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(14deg);
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.5);
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(14deg); }
  .story__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: #a502f0;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(141, 79, 255, 0.5);
    border-bottom: 3px solid #8d4fff; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #d63384; }
  .form__input::-webkit-input-placeholder {
    color: rgba(165, 2, 240, 0.5); }

.form__label {
  color: #a502f0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.7rem;
  margin-left: 2rem;
  transition: all 0.3s;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  float: left; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-btn {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 5px solid #8d4fff;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  left: 0; }
  .form__radio-btn::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #8d4fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: white;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: scale(0) translate(-100%, -500%);
    opacity: 0;
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.3333%;
    display: table-cell; }
  .popup__right {
    vertical-align: middle;
    display: table-cell;
    width: 66.6666%;
    padding: 3rem 5rem; }
    .popup__right h2 {
      margin-bottom: 3rem; }
    .popup__right a.btn {
      margin: 1rem auto 2rem 23rem;
      background-color: rgba(141, 79, 255, 0.4); }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 2 rem;
    letter-spacing: 20%;
    word-spacing: 0.5rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid gray;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    color: rgba(128, 128, 128, 0.8); }
  .popup__close:hover {
    color: #a502f0; }

.header {
  position: relative;
  height: 95vh;
  text-decoration: none;
  background-image: linear-gradient(to right bottom, rgba(250, 157, 27, 0.3) 5%, rgba(141, 79, 255, 0.4) 80%), url(../img/hero1.webp);
  /* background-image:linear-gradient(to right bottom, rgba(250, 157, 27, 0.30) 5%, rgba(141, 79, 255, 0.50) 80%),url(../img/hero.jpg); */
  /* background-image:linear-gradient(to right bottom, rgba(250, 157, 27, 0.40) 5%, rgba(141, 79, 255, 0.40) 80%),url(../img/background.webp); */
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  /* clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%); */
  /* clip-path: polygon(0 0, 50% 0,30% 100%, 0 100%); */
  /* clip-path: polygon(0 0,100% 30%,100% 100%, 0 70%); */ }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh); } }
  .header__logobox {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: moveIn 1s ease-out; }
    @media (max-width: 56.25em) {
      .header__logobox {
        top: 7rem;
        right: 7rem; } }
    @media (max-width: 37.5em) {
      .header__logobox {
        top: 5.5rem;
        right: 5.5rem; } }
  .header__brand {
    font-size: 3.7rem;
    background: #3872f6;
    background-image: linear-gradient(to right, #3872f6 16%, #a502f0 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    /* font-family: serif; */
    /* text-transform: uppercase; */
    transition: all 200ms; }
    @media (max-width: 56.25em) {
      .header__brand {
        padding-bottom: 100rem; } }
    .header__brand:hover {
      background: #a502f0;
      background-image: linear-gradient(to right, #a502f0 39%, #3872f6 67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__btn {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-color: white;
  border-radius: 50%;
  z-index: 20;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(141, 79, 255, 0.4); }
  @media (max-width: 56.25em) {
    .navigation__btn {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__btn {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#3872f6, #a502f0);
  z-index: 10;
  transition: all 0.5s cubic-bezier(0.85, 0, 0.15, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  width: 0;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 3rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.4s; }
  @media (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2rem;
      padding: 1.6rem;
      font-weight: 500; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #3872f6;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  margin-top: 3.5rem;
  position: relative; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: black;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__btn:hover .navigation__icon::before {
  top: -1rem; }

.navigation__btn:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(315deg); }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(-315deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      width: 70rem; } }
  @media (max-width: 37.5em) {
    .row {
      width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem !important; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(
 (2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(
 (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(
 (3 * (100% - 3 * 6rem) / 4) + 2 *6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 2rem 0; } }
  .footer__logobox {
    text-align: center; }
  .footer__logo {
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
    margin-bottom: 6rem; }
  .footer__navigation {
    border-top: 2px solid rgba(141, 79, 255, 0.5);
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        padding-top: 1.5rem; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    text-decoration: underline;
    color: #8d4fff; }
  .footer__copyright {
    border-top: 2px solid rgba(141, 79, 255, 0.5);
    padding-top: 2rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #eee; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        line-height: 2;
        word-spacing: 0.3rem;
        text-align: center; } }

.section-about {
  background-color: rgba(141, 79, 255, 0.2);
  padding: 20rem 0;
  margin-top: -10vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding-bottom: 55rem; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(250, 157, 27, 0.6) 5%, rgba(141, 79, 255, 0.6) 80%), url(../img/sea-side-img.webp);
  background-size: cover;
  transform: skewY(3deg);
  margin-top: -5vh; }
  .section-features > * {
    transform: skewY(-3deg); }
  @media (max-width: 56.25em) {
    .section-features {
      margin-top: -5rem; } }

.section-tours {
  background-color: rgba(141, 79, 255, 0.2);
  padding: 20rem 0 10rem;
  margin-top: -10vh; }

.section-stories {
  position: relative;
  padding: 15rem 0rem;
  background-color: rgba(141, 79, 255, 0.2); }

.section-book {
  padding: 15rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(56, 114, 246, 0.8), rgba(165, 2, 240, 0.8)); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("../img/travel-plan-3.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 2rem 5rem rgba(214, 51, 132, 0.5);
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 5rem; }
